@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=Khand:wght@300&display=swap');

:root{
    font-family: 'Encode Sans', sans-serif;
}

header{
    font-family: 'Khand', sans-serif;
}

.logo-image-header{
    width: 60vw;
}
main, footer{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.logo-image-header > img{
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 100px;
    display: flex;
    justify-content: space-around;;

}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-navbar{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.enter-your-email{
    width: 300px;
    height: 100%;
    outline: none;
    border-radius: none;
}

.get-started-button{
    width: 160px;
    height: 38px;
    border:none;
    background-color: #F1C40F;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.button-select-price-table > button{
    width: 115px;
    height: 35px;
    border:none;
    background-color: #F1C40F;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-select-price-table > button:hover{
    background-color: #FFA500;
    transition: background-color 0.6s;
}
.get-started-button:hover{
    background-color: #FFA500;
    transition: background-color 0.6s;
}

.description-of-the-benefits{
    margin:30px;
}



.premium-materials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 100%;
}

.fire-image{
    width: 83px;
}
.truck-image{
    width: 83px;
}
.battery-image{
    width: 83px;
}

.text-benefits{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 20px;
    gap: 7px;
}

.heading-benefits{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    margin:0;
    box-sizing: border-box;
}
.paragraph-benefits{
    font-size: 17px;
    margin:0;
    box-sizing: border-box;
}


.youtube-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 350px;
}
.youtube-video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.price-table{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
}
.price-container {
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tenor-trombone{
    border: black;
    border-radius: 3px;
    border-style: groove;
    border-width: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 315px;
}

.heading-table{
    background-color: #DDDDDD;
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.paragraph-table-price > h2{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 23px;
    margin-top: 15px;
}

.table-text > ol > li{
   list-style: none;
   padding: 5px 0;
   font-family:'Times New Roman', Times, serif;
}
.table-text > ol{
    margin:0px;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #DDDDDD;
}

.footer-navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    font-size: 10px;
    margin-right: 20px;
}

.copyright-footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 10px;
    margin-right: 18px;
}