@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=Khand:wght@300&display=swap');

:root{
    font-family: 'Encode Sans', sans-serif;
}

header{
    font-family: 'Khand', sans-serif;
}

.logo-image-header{
    width: 60vw;
}

.logo-image-header > img{
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 100px;
    display: flex;
    justify-content: space-around;;

}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-navbar{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.enter-your-email{
    width: 300px;
    height: 100%;
    outline: none;
    border-radius: none;
}

.get-started-button{
    width: 160px;
    height: 38px;
    border:none;
    background-color: #F1C40F;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.get-started-button:hover{
    background-color: #FFA500;
    transition: background-color 0.6s;
}

.description-of-the-benefits{
    margin:30px;
}



.premium-materials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.fire-image{
    width: 83px;
}
.truck-image{
    width: 83px;
}
.battery-image{
    width: 83px;
}

.text-benefits{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 20px;
    gap: 7px;
}

.heading-benefits{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    margin:0;
}
.paragraph-benefits{
    font-size: 20px;
    margin:0;
}

.youtube-video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 350px;
}
.youtube-video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.price-table{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
}
.price-container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
}

